#order_delivery { padding: 3px !important; max-width: 650px; font-size: 13px;}
#order_delivery_short { padding: 3px !important; max-width: 70px; font-size: 13px;}
#order_delivery_short_email { padding: 3px !important; max-width: 150px; font-size: 13px;}
#orderAssignment{ border-bottom: 1px solid #eee !important;}
