.time_control_on {  
    font-size: 13px; 
    border: 1px solid black;  
    background-color: #9A9A9A ; 
    padding: 3px 8px;
    color: white;
}
.time_control_off {  
    font-size: 13px; 
    border: 1px solid black;  
    background-color: white ; 
    padding: 3px 8px;
    color: black;
}
.table_header_image {
    width: 80px;
    padding: 0 !important;
    padding: 8px !important;

}
.table_order_date {
    letter-spacing: -1px;
    font-size: 14px;
    font-family: 'Asap', sans-serif;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.table_order_title {
    vertical-align: top !important;
    /* float: left; */
    padding-top: 8px;
}
.table_font_family {
    font-family: 'Asap', sans-serif;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.table_order_cancel_btn {
    width: 70px;
    font-size: 11px;
    border: 1px solid black;
    background-color: white;
    color: black;
}
.table_order_status_blue {
    color: #008bcc;
    text-align: center;
}
.table_order_status_red {
    color: red;
    text-align: center;
}